/target
.DS_Store
.vscode

# Node artifacts
node_modules

# Python artifacts
venv
__pycache__
*.egg-info

# npm
packaging/npm/commitfmt-*/commitfmt
packaging/npm/commitfmt-*/commitfmt.exe

# PyPi
packaging/pypi/commitfmt_*/commitfmt_*/commitfmt_*
packaging/pypi/**/build/
packaging/pypi/**/dist/

