/target
.DS_Store
.vscode

.cursor/rules/


# Node artifacts
node_modules

# Python artifacts
venv
__pycache__
*.egg-info

# npm
packaging/npm/commitfmt-*/commitfmt
packaging/npm/commitfmt-*/commitfmt.exe
packaging/npm/commitfmt-*/README.md

# PyPi
packaging/pypi/commitfmt_*/commitfmt_*/commitfmt_*
packaging/pypi/**/build/
packaging/pypi/**/dist/
packaging/pypi/commitfmt_*/README.md

